h1 {
    margin: 0;
    padding: 10px;
}

.btn-primary:hover {
background-color: red;
}

canvas {
    border: 0.5px solid darkblue;
    animation-name: sample;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes sample {
    from {box-shadow: 3px 3px 50px red;}
    to {box-shadow: 3px 3px 50px darkgreen;}
}